<form action="/tasks/add" method="POST">
    <div>
        <label for="title">Escriba un Título:</label>
        <input type="text" name="title" id="title" placeholder="Título">
    </div>
    <div>
        <label for="description">Escriba una Descripción:</label>
        <textarea name="description" id="description" placeholder="Descripción"></textarea>
    </div>
    <button>Agregar</button>
</form>